altgraph==0.17.5
charset-normalizer==3.4.7
greenlet==3.5.2
iniconfig==2.3.0
macholib==1.16.4
packaging==26.2
pillow==12.2.0
pluggy==1.6.0
Pygments==2.20.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pytest==9.1.1
python-dotenv==1.2.2
reportlab==5.0.0
setuptools==82.0.1
SQLAlchemy==2.0.51
typing_extensions==4.15.0
